/* Basic configuration */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Epilogue";
    font-size: 16px;
    line-height: 32px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Fonts */

@font-face {
   font-family: "Epilogue";
   src: url(assets/fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}

h1 { font-size: clamp(2.5rem, 5vw, 4.5rem); line-height: 1.2; }
h2 { font-size: clamp(2rem, 4vw, 3.5rem); line-height: 1.3; }
h3 { font-size: clamp(1.75rem, 3vw, 2.5rem); line-height: 1.3; }
h4 { font-size: clamp(1.5rem, 2vw, 1.5rem); line-height: 1.4; }
h5 { font-size: clamp(1.25rem, 1.5vw, 1.25rem); line-height: 1.4; }

/* Generic conteiners */

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: burlywood;
}

/* Gallery */

.gallery {
    display: grid;
    grid-template-areas: 
    "a a"
    "b d"
    "c d"
    "f f";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    width: 100%;
    height: 100%;

    padding: 10%;

    background-color: cadetblue;
    gap: 15px;
}

.img-gallery {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.25);
}

.img-gallery__a {grid-area: a; background-image: url(./assets/images/album1.jpg);}
.img-gallery__b {grid-area: b; background-image: url(./assets/images/falido.jpg);}
.img-gallery__c {grid-area: c; background-image: url(./assets/images/paulo-freire.jpg);}
.img-gallery__d {grid-area: d; background-image: url(./assets/images/ni.jpg);}
.img-gallery__f {grid-area: f; background-image: url(./assets/images/album2.jpg);}

/* Instagram-post */

.instagram-post {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 35vh;
    
    border-radius: 20px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.25);
    background-color: white;
}

.instagram-post__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 9%;
    padding: 2% 5% 2% 5%;

    border-radius: 20px 20px 0px 0px;
}

.instagram-post__photo {
    width: 100%;
    height: 79%;

    background-color: grey;
}

.instagram-post__menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 12%;
    padding: 2% 5% 2% 5%;

    border-radius: 0px 0px 20px 20px;
}

.instagram-post__icon {
    width: 6%;
    height: 100%;
    margin: 1.5%;
}

.instagram-post__menu img:last-child {
    margin-left: auto;
}
