/* all the page */

body {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font: 1rem / 1.5 sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  background-color: #8074cc;
  color: #504c74;
  text-shadow: 0px 5px 10px #302c5433;

  align-items: center;
  justify-content: center;
  gap: 50px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic items */

[class*="container"] {
  width: 30vw;
  aspect-ratio: 16 / 9;
  padding: 4% 8% 4% 8%;
  border-radius: 30px;
  border: solid 3px #302c54;

  background-color: #d8ccfc;
  box-shadow: 0px 20px 30px rgba(34, 0, 46, 0.507),
    inset 0px 0px 5px rgba(34, 0, 46, 0.507);
}

.icons {
  width: 6%;
  object-fit: contain;
}

/* profile container */

.profile-container {
  display: grid;
  grid-template-rows: 9fr / 1fr;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
}

.profile-container div:first-of-type {
  align-self: flex-end;
}

.profile-container h2:first-of-type {
  margin: 0;
  padding: 0;
}

.profile-container div:last-of-type {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

/* card-container */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 35vw;
  aspect-ratio: 16 / 6;
  gap: 10px;
}

.card-container h3 {
  padding: 0;
  margin: 0;
}

.card-container>div:last-of-type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;

  gap: 10px;
}

.card {
  width: 22%;
  aspect-ratio: 2 / 3;
  border-radius: 6px;
  background-color: #f6f2ff;
  box-shadow: 0 0px 16px rgba(80, 76, 116, 0.3);
  border: solid 1px #f6f2ff8a;

  left: 0px;
  position: relative;

  transition: transform 0.3s ease, left 0.3s ease, z-index 0s;
}

.card:not(:first-child) {
  margin-left: -2.5em;
}

.card:hover {
  transform: translateY(-20px);
  z-index: 1;
}

.card:hover~.card {
  left: 0.4em;
}