/* html */

body {
  box-sizing: border-box;
  font: 1rem / 1.5 sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

/* header */

.header {
  margin-top: 3vh;
}

.header>* {
  margin: 0;
  padding: 0;
}

.header>p {
  text-align: center;
}

/* main */

.main {
  margin-block: auto;
  position: relative;
  top: -5vh;

  display: flex;
  justify-content: center;
  gap: 5%;
}

/* my-card */

.my-card>* {
  font-style: none;
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

/* footer */

.footer {
  display: flex;
  width: 100%;

  justify-content: flex-start;
  gap: 1vw;
  padding: 5px;

  background-color: white;
  border-top: solid 3px black;
}